<div class="container">
    
    <h1 class="mt-3">Directorio</h1>
    <hr>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col"></div>
        
        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="300px" src="assets/C-RAMON-REYNAGA-ARAIZA-PRESIDENTE-MUNICIPAL-Tuxcacuesco.JPG" alt="Presidente Municipal Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Ramon Reynaga Araiza</h5>
                    <p class="card-text">Presidente Municipal</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary" href="mailto:presidencia@tuxcacuesco.gob.mx" role="button">presidencia@tuxcacuesco.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col"></div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Logo-Tuxcacuesco.jpeg" alt="Síndico Municipal Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Kevin Rafael Camberos Villa</h5>
                    <p class="card-text">Titular Del Organo Interno De Control</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/ING-LUIS-ENRIQUE-GUZMAN-REYES -TITULAR-DE-LA-UNIDAD-DE-TRANSPARENCIA-Y-DIRECTOR-DE-COMUNICACIÓN-SOCIAL-Tuxcacuesco.jpeg" alt="Síndico Municipal Tuxcacuesco">
                <div class="card-body">
                    <h5>Ing. Luis Enrique Guzman Reyes</h5>
                    <p class="card-text">Titular De La Unidad De Transparecnia Y Director De Comunicación Social</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Logo-Tuxcacuesco.jpeg" alt="Síndico Municipal Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Dora Margarita Perez Padrilla</h5>
                    <p class="card-text">Sindico Municipal</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/ING-MIGUEL-ANGEL-MANCILLA-BENANVIDES-SECRETARIO-GENERAL-Tuxcacuesco.jpeg" alt="Secretario General Tuxcacuesco">
                <div class="card-body">
                    <h5>Ing. Miguel Angel Mancilla Benavides</h5>
                    <p class="card-text">Secretario General</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/LCP-ERICK-GUSTAVO-GARCIA-PEREZ-TESORERO-MUNICIPAL-Tuxcacuesco.jpeg" alt="Tesorero Municipal Tuxcacuesco">
                <div class="card-body">
                    <h5>Lcp. Erick Gustavo Garcia Perez</h5>
                    <p class="card-text">Tesorero Municipal</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Apolonio-Garcia-Ortega- Secretario-Particular-Tuxcacuesco.jpeg" alt="Titular Transparencia Y Director Comunicación Social Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Apolonio Garcia Ortega</h5>
                    <p class="card-text">Secretario Particular</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Julio-César Vargas-Grajeda-Auxiliar-de-Obras-Públicas-Tuxcacuesco.jpeg" alt="Titular Transparencia Y Director Comunicación Social Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Julio César Vargas Grajeda</h5>
                    <p class="card-text">Auxiliar de Obras Públicas</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Maria-Benavides-Lopez-Secretaria-de-Servicios-Generales-Tuxcacuesco.jpeg" alt="Fomento Agropecuario Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Maria Benavides Lopez</h5>
                    <p class="card-text">Secretaria de Servicios Generales</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Lic-Cindy-Lizette-Romero-Ortega-Directora-de-Catastro-Municipal-Tuxcacuesco.jpeg" alt="Deportes Tuxcacuesco">
                <div class="card-body">
                    <h5>Lic. Cindy Lizette Romero Ortega</h5>
                    <p class="card-text">Directora de Catastro Municipal</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Lizbeth-Rodriguez-Cabrera- Directora-de-Desarrollo-Social-Y-DIRECTORA-DE-PARTICIPACION-CIUDADANA-Tuxcacuesco.jpeg" alt="Encargada Registro Civil Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Lizbeth Rodriguez Cabrera</h5>
                    <p class="card-text">Directora de Desarrollo Social Y Directora De Participación Ciudadana</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Profe-Alfredo-Meza-Director-de-Educación-Tuxcacuesco.jpeg" alt="Seguridad Publica Tuxcacuesco">
                <div class="card-body">
                    <h5>Profe. Alfredo Meza</h5>
                    <p class="card-text">Director de Educación</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Karla-Chavez-Espitia-Oficial-de-Registro-Civil-Tuxcacuesco.jpeg" alt="Turismo Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Karla Chavez Espitia</h5>
                    <p class="card-text">Oficial de Registro Civil</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/LI-Maria-del-Carmen-Delgado-Almaraz-Auxiliar-de-Tesorería-y-Sistemas-Tuxcacuesco.jpeg" alt="Promoción Económica Tuxcacuesco">
                <div class="card-body">
                    <h5>Li. Maria del Carmen Delgado Almaraz</h5>
                    <p class="card-text">Auxiliar de Tesorería y Sistemas</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Taliha-Elizabeth-Naranjo-Ortega-Directora-de-Agua-Potable-Tuxcacuesco.jpeg" alt="Contraloría Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Taliha Elizabeth Naranjo Ortega</h5>
                    <p class="card-text">Directora de Agua Potable</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Guadalupe-Flores-Perez-Encargada-de-Ingresos-Municipales-Tuxcacuesco.jpeg" alt="Catastro Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Guadalupe Flores Perez</h5>
                    <p class="card-text">Encargada de Ingresos Municipales</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Jesus-Ricardo-Sandoval-Castillo-Director-de-Desarrollo-Agropecuario-Tuxcacuesco.jpeg" alt="Subdirector Cultura y Educación Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Jesus Ricardo Sandoval Castillo</h5>
                    <p class="card-text">Director de Desarrollo Agropecuario</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Hector-Daniel-Preciado-Camberos-Director-de-Promoción-Económica-Tuxcacuesco.jpeg" alt="Particular de presidencia Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Hector Daniel Preciado Camberos</h5>
                    <p class="card-text">Director de Promoción Económica</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Logo-Tuxcacuesco.jpeg" alt="Síndico Municipal Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Mario Javier Jacobo Gonzlaez</h5>
                    <p class="card-text">Director de Ecología</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Logo-Tuxcacuesco.jpeg" alt="Síndico Municipal Tuxcacuesco">
                <div class="card-body">
                    <h5>Lic. Osvaldo António Castillo Garcia</h5>
                    <p class="card-text">Director de Obras Públicas</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Logo-Tuxcacuesco.jpeg" alt="Síndico Municipal Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Martin Araiza Gutiérrez</h5>
                    <p class="card-text">Director de Servicios Generales</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Oscar-Jaime-Capristo-Cuevas-Director-de-Cultura-y-Turismo-Tuxcacuesco.jpeg" alt="Ecología Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Oscar Jaime Capristo Cuevas</h5>
                    <p class="card-text">Director de Cultura y Turismo</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Antonio-de-Jesus-Pérez-Galicia-Director-de-Deportes-Tuxcacuesco.jpeg" alt="Planeacion Urbana Tuxcacuesco">
                <div class="card-body">
                    <h5>C. Antonio de Jesus Pérez Galicia</h5>
                    <p class="card-text">Director de Deportes</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Jose-Manuel-Perez-Ortega-Inspector-Ganadero-Tuxcacuesco.jpeg" alt="Oficial Mayor Tuxcacuesco">
                <div class="card-body">
                    <h5>C. José Manuel  Perez Ortega</h5>
                    <p class="card-text">Inspector Ganadero</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139651" role="button">+0134 3413 9651</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-primary mb-3" href="tel:+013434139654" role="button">+0134 3413 9654</a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>