<div class="container">
    <h1 class="mt-3">Tuxcacuesco, Jalisco México</h1>
    <hr>

    <h2 class="pt-4 fw-bold">Reseña histórica</h2>
    <p>
        Poco antes del arribo de los conquistadores, esta región, habitada por indios guerreros de procedencia y lengua otomí, siempre en guerra con los de Autlán, era gobernada por el cacique Yoteacte o Yateacite, cuyo significado es navaja. Este personaje portaba una filosa piedra con la que destrozaba a sus enemigos y recibía como tributo maíz, frijol y otros granos.
        En 1524, llegó a la región el capitán español Francisco Cortés de San Buenaventura, quien mandó llamar a los aborígenes para que lo reconocieran como su señor. En ese entonces gobernaba un hijo de Yateacite, quien fue bautizado como Jerónimo Yateacite.
        Los españoles bajaron a los indios del cerro de Palacio y se establecieron en la meseta que está al oriente del arroyo y ojo de agua de Pichintota. Poco después se cambiaron al sitio actual, en donde la corona española le otorgó el título de pueblo, fungiendo como primer alcalde Antonio de Azelga. La región quedó comprendida en la Provincia de Ávalos.
        A finales del siglo XVI, Tuxcacuesco se transformó en una de las cuatro cabeceras de la Provincia de Amula, donde los naturales recurrían para el pago de tributos a la corona.
        En 1791, se formó la alcaldía mayor de Amula, a la cual pasó a pertenecer Tuxcacuesco.
        Por decreto del 27 de marzo de 1824, Tuxcacuesco se erige como cabecera de departamento, estableciéndose sus límites; en esa misma disposición se le concedió al poblado de Tuxcacuesco el título de villa.
        De 1825  a 1856 perteneció al 4° Cantón de Sayula, de donde pasó a depender del 9° de Zapotlán el Grande (Ciudad Guzmán).
        Por decreto número 83, publicado el 4 de abril de 1848, el departamento de Tuxcacuesco continuaría con el mismo nombre y su capital sería el pueblo de San Gabriel, que se titularía villa a partir de esa fecha.
    </p>

    <h2 class="pt-4 fw-bold">Descripción geográfica</h2>
    
    <h3 class="pt-4 fw-bold">Situación</h3>
    <p>
        El municipio de Tuxcacuesco se localiza al sur del estado, en las coordenadas 19° 33' 50'' a 19º 48' 55'' de latitud norte y los 103º 52' 45'' a los 104º 08' 40'' de longitud oeste, a una altura de 750 metros sobre el nivel del mar. 
    </p>

    <h3 class="fw-bold">Delimitación</h3>
    <p>
        Limita al norte con los municipios de El Limón, Tonaya y San Gabriel; al sur con Tolimán y Cuautitlán de García Barragán; al este con San Gabriel y Tolimán; y al oeste con  Cuautitlán de García Barragán, Autlán de Navarro y El Grullo.
    </p>

    <h3 class="fw-bold">Extensión</h3>
    <p>
        La localidad tiene una extensión territorial de 265.29 kilómetros cuadrados.
    </p>

    <h2 class="pt-4 fw-bold">Datos Físicos</h2>

    <h3 class="pt-4 fw-bold">Relieve</h3>
    <p>
        Topografía.- El municipio presenta una topografía muy accidentada (70 % del territorio), en la que las máximas alturas se localizan en la parte sur del territorio. De esta parte, hacia el norte, las latitudes van disminuyendo, predominando en la parte central, alturas medias (14% del territorio) y en la parte norte las más bajas (que cubren el 16% del municipio).
    </p>

    <h3 class="pt-4 fw-bold">Clima</h3>
    <p>
        Al norte del municipio, el clima es semiseco con primavera seca y semicálida, sin estación invernal definida; al sur, es semiseco con invierno y primavera secos y semicálida, sin cambio térmico invernal bien definido; y la parte suroeste se clasifica como muy húmedo con invierno y primavera seco y cálida, con estación invernal definida. La temperatura media anual es de 28.8º C, con una precipitación media de 795 milímetros, con régimen de lluvias en los meses de junio a agosto. Los vientos dominantes son de dirección sureste.
    </p>

    <h3 class="pt-4 fw-bold">Hidrografía</h3>
    <p>
        Cuenta con los ríos Tuxcacuesco y Zenzontla; los arroyos de Jiquilpan, La Casita, Zorra, Chico, Cobre, Las Canoas, Los Duros, Seco, Las Tranquillas, Yerbabuena y Los Bules; el manantial de la Pichintota, lugar de donde proviene el agua que abastece a la población. Estos recursos hidrológicos forman parte de la cuenca hidrológica "Río Armería", perteneciente a la región hidrológica "Pacífico-Centro", enclavada en la zona de la reserva de la biosfera Sierra de Manantlán.
    </p>

    <h3 class="pt-4 fw-bold">Suelos</h3>
    <p>
        Los suelos dominantes del municipio pertenecen al tipo feozem háplico y regosol eútrico; los suelos asociados pertenecen al tipo cambisol crómico y vertisol pélico.
    </p>

    <h3 class="pt-4 fw-bold">Recursos Naturales</h3>
    <p>
        La riqueza natural con que cuenta el municipio está representada por 8,015 hectáreas de bosque, donde predominan especies de pino, encino y huizache, principalmente. Sus recursos minerales son yacimientos de oro, plata, cobre y barita.
    </p>

    <h3 class="pt-4 fw-bold">Uso del Suelo</h3>
    <p>
        La mayor parte del suelo tiene un uso agrícola. La tenencia de la tierra en su mayoría corresponde a la propiedad ejidal. Existen 9 ejidos (Tuxcacuesco, El Temaxcal, San Miguel, Platanar, Zenzontla, Los Mezquites, Chachahuatlán, Apulco y Los González).
    </p>

    <h2 class="pt-4 fw-bold">Flora y fauna</h2>

    <h3 class="pt-4 fw-bold">Vegetación</h3>
    <p>
        La flora está integrada, principalmente, por nopal, matorrales espinosos, huizache, pino y encino.
    </p>

    <h3 class="pt-4 fw-bold">Fauna</h3>
    <p>
        Su fauna terrestre la representan especies como el venado, coyote, gato montés, armadillo, liebre, entre otros, en tanto que la marina es representada por chacales (langostino), bagre, carpas, entre otras especies.
    </p>

</div>