<header class="bg-light">
    <div class="menu-contacto">
        <ul class="nav justify-content-center">
        
            <li class="nav-item">
                <a class="nav-link" href="https://goo.gl/maps/G3T7ziCXftEMvtZT7"><i class="bi bi-geo-alt"></i> Hidalgo #9, Colonia Centro Tuxcacuesco, C.P. 48770</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="tel:+013434139651"><i class="bi bi-telephone"></i> +0134 3413 9651</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="tel:+013434139654"><i class="bi bi-telephone"></i> +0134 3413 9654</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="mailto:presidencia@tuxcacuesco.gob.mx"><i class="bi bi-envelope"></i> presidencia@tuxcacuesco.gob.mx</a>
            </li>
        
        </ul>
    </div>
    
    <div class="menu-principal">
        <nav class="navbar navbar-expand-lg navbar-white bg-light">
            <div class="container">
                
                <a class="navbar-brand" href="tuxcacuesco.gob.mx">
                    <img src="assets/escudo-tuxcacuesco.png" alt="Escudo Tuxcacuesco" width="100px" height="120px">
                </a>
              
                <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                        </li>
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownGobierno" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                Gobierno
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownGobierno">
                              <li><a class="dropdown-item" routerLink="/gobierno/municipio">Municipio</a></li>
                              <li><a class="dropdown-item" routerLink="/gobierno/directorio">Directorio</a></li>
                              <li><a class="dropdown-item" routerLink="/gobierno/numeros-emergencia">Números de emergencia</a></li>
                            </ul>
                        </li>
        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownEconomia" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                Economía
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownEconomia">
                              <li><a class="dropdown-item" routerLink="/economia/informacion-economica">Información Económica</a></li>
                            </ul>
                        </li>
        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownEconomia" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                Turismo
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownEconomia">
                                <li><a class="dropdown-item" routerLink="/turismo/que-hacer">¿Qué hacer?</a></li>
                                <!--<li><a class="dropdown-item" routerLink="/turismo/lugares-para-visitar">Lugares para visitar</a></li>
                                    <li><a class="dropdown-item" routerLink="/turismo/preguntas-frecuentes">Preguntas frecuentes</a></li>-->
                            </ul>
                        </li>
        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownEconomia" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                Transparencia
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownEconomia">
                                <li><a class="dropdown-item" routerLink="/transparencia/articulo-ocho">Articulo 8</a></li>
                                <li><a class="dropdown-item" routerLink="/transparencia/articulo-quince">Articulo 15</a></li>
                                <!--<li><a class="dropdown-item" href="https://drive.google.com/file/d/1KZ1qyl2bGIBH0dT-N_QGgfzDXKacVSTx/">Ley General De <br> Contabilidad Gubernamental</a></li>
                                <li><a class="dropdown-item" href="https://drive.google.com/drive/folders/16-Cm13lGFPILlxbg6Mtj91KuB2nm2gJM?usp=sharing">Ley De Disciplina Financiera</a></li>-->
                            </ul>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contacto/denuncias-en-linea">Contacto</a>
                        </li>
        
                    </ul>
                </div>
            </div>
        </nav>
    </div>
  </header>