<main>
    
    <div class="container">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="assets/Tuxcacuesco-1.jpeg" class="d-block w-100" height="600px" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/Tuxcacuesco-2.jpeg" class="d-block w-100" height="600px" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/Tuxcacuesco-4.jpeg" class="d-block w-100" height="600px" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="assets/Tuxcacuesco-6.jpeg" class="d-block w-100" height="600px" alt="...">
                </div>
            </div>
          </div>

        <div class="col">
            <div class="row">
                <h1 class="mt-3">Noticias Tuxcacuesco</h1>
                <hr>
            </div>
        </div>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
            <div class="col">
                <a href="https://www.jalisco.gob.mx/es/gobierno/comunicados/coronavirus">
                    <img src="assets/Coronavirus-Jalisco.jpeg" class="img-fluid" alt="Coronavirus jalisco">
                </a>
            </div>

            <div class="col">
                <a href="https://www.plataformadetransparencia.org.mx/">
                    <img src="assets/Plataforma-Nacional-de-Transparencia.jpeg" class="img-fluid" alt="Plataforma nacional de transparencia">
                </a>

                <div class="row mt-5">
                    <div class="col">
                        <a href="https://www.itei.org.mx/v4/">
                            <img src="assets/itei.png" class="img-fluid" alt="itei Tuxcacuesco">
                        </a>
                    </div>
        
                    <div class="col">
                        <a href="http://www.infomexjalisco.org.mx/InfomexJalisco/">
                            <img src="assets/infomex.png" class="img-fluid" alt="infomex Tuxcacuesco">
                        </a>
                    </div>
        
                    <div class="col">
                        <a href="http://www.cimtra.org.mx/portal/">
                            <img src="assets/cimtra.png" class="img-fluid" alt="cimtra Tuxcacuesco">
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

            <div class="row">
                <div class="col mt-5">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAyuntamientoDeTuxcacuesco%2Fposts%2F131859455928953&show_text=true&width=500" width="500" height="665" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
    
                
                <div class="col mt-5">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAyuntamientoDeTuxcacuesco%2Fposts%2F131851185929780&show_text=true&width=500" width="500" height="502" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
            
            <div class="row">
                <div class="col mt-5">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAyuntamientoDeTuxcacuesco%2Fposts%2F131865802594985&show_text=true&width=500" width="500" height="416" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
                
                <div class="col mt-5">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAyuntamientoDeTuxcacuesco%2Fposts%2F131834529264779&show_text=true&width=500" width="500" height="709" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>

            <div class="row">
                <div class="col mt-5">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAyuntamientoDeTuxcacuesco%2Fposts%2F131362375978661&show_text=true&width=500" width="500" height="698" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
    
                <div class="col mt-5">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAyuntamientoDeTuxcacuesco%2Fposts%2F131259062655659&show_text=true&width=500" width="500" height="793" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>

            <div class="row">
                <div class="col mt-5">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAyuntamientoDeTuxcacuesco%2Fposts%2F131255522656013&show_text=true&width=500" width="500" height="709" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
    
                <div class="col mt-5">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAyuntamientoDeTuxcacuesco%2Fposts%2F131046412676924&show_text=true&width=500" width="500" height="812" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>


        </div>

        <div class="col">
            <div class="row">
                <h1 class="mt-3">Comunicados Tuxcacuesco</h1>
                <hr>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col-4">
                    <img src="assets/Dengue-Tuxcacuesco.jpeg" class="img-fluid" alt="Dengue Tuxcacuesco">
                </div>

                <div class="col-8">

                    <div class="row mb-3">
                        <h2 class="mt-3">Transmiciones de Facebook</h2>
                    </div>

                    <div class="row mb-3">
                        <a href="https://www.facebook.com/watch/?v=298866142246061&extid=CL-UNK-UNK-UNK-AN_GK0T-GK1C&ref=sharing"> Programa de vivienda </a>
                    </div>

                    <div class="row mb-3">
                        <a href="https://www.facebook.com/watch/?v=438991711173876&extid=CL-UNK-UNK-UNK-AN_GK0T-GK1C&ref=sharing"> Así luce el árbol, nacimiento y decoraciones navideños en el Jardín Principal de #Tuxcacuesco. </a>
                    </div>

                    <div class="row mb-3">
                        <a href="https://www.facebook.com/watch/?v=856772291663801&extid=CL-UNK-UNK-UNK-AN_GK0T-GK1C&ref=sharing"> ¡Una propuesta de campaña más cumplida! </a>
                    </div>

                    <div class="row mb-3">
                        <a href="https://www.facebook.com/watch/?v=926282764679721&extid=CL-UNK-UNK-UNK-AN_GK0T-GK1C&ref=sharing"> Gobierno municipal retoma programa de apoyo de paquetes escolares </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</main>