<div class="container">
    <h1 class="mt-3">Números de emergencia</h1>
    <hr>

    <h2><strong>Emergencias</strong></h2>
    Número de teléfono: <a href="tel:911">911</a>
    <br><br>
    <h2><strong>Información</strong></h2>
    Número de teléfono: <a href="tel:040">040</a>
    <br><br>
    <h2><strong>Atención ciudadana</strong></h2>
    Número de teléfono: <a href="tel:018005254726">01 800 JALISCO (5254726)</a> / <a href="tel:3336681804">(33) 3668 1804</a>
    <br><br>
    <h2><strong>Denuncia escolar</strong></h2>
    Número de teléfono: <a href="tel:018007862729">01 800 7862 729</a>
    <br><br>
    <h2><strong>Unidad Estatal de Protección Civil y Bomberos</strong></h2>
    Número de teléfono: <a href="tel:013336753060">01(33) 3675 3060</a>
</div>