<div class="container">
    <h1 class="mt-3">Economía Tuxcacuesco</h1>
    <hr>

    <h2 class="pt-4 fw-bold">Principales Sectores, Productos y Servicios</h2>
    
    <h3 class="pt-4 fw-bold">Agricultura</h3>
    <p>
        De los cultivos locales destaca en primer lugar la sandía además se cultiva el maíz, sorgo, melón, jitomate, chile verde y cebolla.
    </p>

    <h3 class="pt-4 fw-bold">Ganadería</h3>
    <p>
        Se cría ganado bovino de carne y leche, porcino, caprino, aves de carne y postura, colmenas y ovinos.
    </p>

    <h3 class="pt-4 fw-bold">Explotación forestal</h3>
    <p>
        Se explotan pino y encino.
    </p>

    <h3 class="pt-4 fw-bold">Minería</h3>
    <p>
        Existen yacimientos de minerales metálicos como el oro, plata y cobre; y entre los no metálicos, la barita.
    </p>

    <h3 class="pt-4 fw-bold">Pesca</h3>
    <p>
        Se realiza en los ríos Zenzontla (Armería) y Tuxcacuesco; capturándose especies de chacal (langostino), carpa y bagre, entre otras.
    </p>

    <h3 class="pt-4 fw-bold">Comercio</h3>
    <p>
        Predominan los giros dedicados a la venta de productos de primera necesidad y los comercios mixtos que venden en pequeña escala artículos diversos.
    </p>

    <h3 class="pt-4 fw-bold">Servicios</h3>
    <p>
        Se prestan servicios técnicos, comunales, sociales, personales y de mantenimiento.
    </p>
    
</div>
