<div class="container">
    <h1 class="mt-3">Artículo 15. Información fundamental – Ayuntamientos</h1>
    <hr>

    <ul>
        <li><a href="https://mega.nz/folder/fHpjWY4T#1z07x99VASBJfUL4AWyA_Q">I. La obligatoria para todos los sujetos obligados</a></li>
        <li><a href="https://mega.nz/folder/KeoTWCKJ#YLfLSdnuzbp26RA8979AdA">II. La integración del Ayuntamiento, las comisiones edilicias y demás órganos que establezca su organigrama</a></li>
        <li><a href="https://mega.nz/folder/6K5BjQbL#4pj4alWCv-oT6GNiC41uUA">III. Los bandos de policía y gobierno, reglamentos, decretos, acuerdos, circulares y demás disposiciones jurídicas expedidas por el Ayuntamiento respectivo</a></li>
        <li><a href="https://mega.nz/folder/yapBxYzb#vUjYEIDwscB52gZDoJ2BWg">IV. Las iniciativas presentadas y las exposiciones de motivos de los reglamentos vigentes en el Municipio</a></li>
        <li><a href="https://mega.nz/folder/7Phn3K7R#5OKFHkjLkPStz_b-h_crOg">V. Los instrumentos de planeación del desarrollo del municipio y sus modificaciones</a></li>
        <li><a href="https://mega.nz/folder/yLxXSQrA#laGVbUmxOo3CP1u56fCofg">VI. Los reglamentos internos, manuales y programas operativos anuales de toda dependencia</a></li>
        <li><a href="https://mega.nz/folder/KLwTyITa#bJP3AH5N4rhLx0rL0VvDSw">VII. Los programas de trabajo de las comisiones edilicias</a></li>
        <li><a href="https://mega.nz/folder/nC4BBCLC#n4EiBzKfSxffEzQHilTH1g">VIII. Los órdenes del día de las sesiones del Ayuntamiento y las comisiones edilicias</a></li>
        <li><a href="https://mega.nz/folder/KP5TBSia#xL_RfDWcV9rxsQzqtInqvQ">IX. El libro de actas de las sesiones del Ayuntamiento y las actas de las comisiones edilicias</a></li>
        <li><a href="https://mega.nz/folder/TTohgKrD#S9hfsPl8KHGNqZ9c6WCvPQ">X. La gaceta municipal</a></li>
        <li><a href="https://mega.nz/folder/WW5BwQDR#-LCWL_4Zo8CJYiS6gE95JQ">XI. La información de los registros públicos</a></li>
        <li><a href="https://mega.nz/folder/fOwhTQ4C#shwnJVsRyAiMHFA5HOz8fA">XII. Los recursos materiales, humanos y financieros asignados a cada dependencia</a></li>
        <li><a href="https://mega.nz/folder/aKw3HarS#M0KI8uWsszd6CK2o7b5Apw">XIII. Los convenios y contratos celebrados para la realización de obra pública</a></li>
        <li><a href="https://mega.nz/folder/yOoB1aQI#Wamsbf3Oap7wchQtN7i7Qw">XIV. Los convenios de coordinación o asociación municipal</a></li>
        <li><a href="https://mega.nz/folder/GPolBArK#j9uvtuHiyIRia00scyEu7w">XV. Los convenios para la prestación de servicios públicos coordinados o concesionados</a></li>
        <li><a href="https://mega.nz/folder/bXxHASyC#6VIjVKGWllq0ixKEjoxBYQ">XVI. El registro de los consejos consultivos ciudadanos</a></li>
        <li><a href="https://mega.nz/folder/qXhF1CpA#bdaA9OttaieOCR00U3z70Q">XVII. El registro de las asociaciones de vecinos en el municipio</a></li>
        <li><a href="https://mega.nz/folder/GPoRFADS#ZlqvRXppa7omnfOc2D8ylQ">XVIII. El registro público de bienes del patrimonio municipal/a></a></li>
        <li><a href="https://mega.nz/folder/yHpVyAII#KmUd5WYkJsHj8za_OAFCNA">XIX. La relación del personal y los inventarios de bienes afectos a cada uno de los servicios públicos municipales</a></li>
        <li><a href="https://mega.nz/folder/XSgV2KZC#v_GYwpr1B3QakmkBA8G12A">XX. El Programa Municipal de Desarrollo Urbano, los planes de desarrollo urbano de centros de población, y los planes parciales de desarrollo urbano</a></li>
        <li><a href="https://mega.nz/folder/iThTRKQI#EZ2K6Zubpg9UFQwxjwhjgA">XXI. La integración, las actas de las reuniones y los acuerdos del Consejo Municipal de Desarrollo Urbano</a></li>
        <li><a href="https://mega.nz/folder/HGhzhIDY#CFBO7qh8RfPnvyeNiUTuWA">XXII. Las autorizaciones de nuevos fraccionamientos y los cambios de uso de suelo junto con las consultas públicas realizadas con los colonos y la integración del expediente respectivo, en los terminos del Código Urbano para el Estado de Jalisco</a></li>
        <li><a href="https://mega.nz/folder/2Gp3lYrQ#HANO-3FVCl4uc1N80SDpig">XXIII. Los indicadores de evaluación del desempeño</a></li>
        <li><a href="https://mega.nz/folder/GCgHCQyK#8KlLxbrQdMw6sxqyih9BuQ">XXIV. La estadística de asistencias y registro de votación de las sesiones del ayuntamiento, de las comisiones edilicias y de los consejos ciudadanos municipales, que contenga el nombre de los regidores y funcionarios que participan, el sentido del voto y, en su caso, los votos paticulares</a></li>
        <li><a href="https://mega.nz/folder/uC5HyYYI#3EZghgPL9CzeYk4pSE7RFA">XXV. Los ingresos municipales por concepto de participaciones federales y estatales, así como por ingresos propios, que integre a la hacienda pública</a></li>
        <li><a href="https://mega.nz/folder/Oep12ara#guvYNMhdiOFnKNjBmVHkog">XXVI. La información relativa a la implementación del Presupuesto Participativo desde su planeación hasta su ejecución</a></li>
        <li><a href="https://mega.nz/folder/ja5DxaZC#5kxIBNnBBh2lKZ9v06-1TQ">XXVII. La que establezca el Reglamento Interno de Información Pública del Municipio</a></li>
    </ul>
</div>
