<div class="container">
    
    <h1 class="mt-3">¿Qué hacer en Tuxcacuesco?</h1>
    <hr>

    <h2 class="pt-4 fw-bold">Arquitectura</h2>

    <ul>
        <li>Hacienda de Apulco</li>
        <li>Hacienda de Zenzontla</li>
        <li>Iglesia de Tuxcacuesco</li>
        <li>Convento de Tuxcacuesco</li>
        <li>Iglesia de apulco</li>
    </ul>

    <h2 class="pt-4 fw-bold">Artesanías</h2>
    
    <ul>
        <li>Elaboración de: talabartería, huaraches y sillas de montar</li>
    </ul>
    
    <h2 class="pt-4 fw-bold">Parques y reservas</h2>

    <ul>
        <li>Sierra de Manantlán</li>
        <li>Cerro Piedra Ancha</li>
    </ul>
    
    <h2 class="pt-4 fw-bold">Caídas de agua y manantiales</h2>

    <ul>
        <li>La Pichintota</li>
        <li>Manantial La Providencia</li>
    </ul>

</div>