<footer class="mt-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="row">
                    <h2 class="mt-5">Contacto</h2>
                </div>
                
                <div class="row">
                    <ul>
                        <li class="mt-4">
                            <a href="https://goo.gl/maps/G3T7ziCXftEMvtZT7"><i class="bi bi-geo-alt"></i> Hidalgo #9, Colonia Centro Tuxcacuesco, C.P. 48770</a>
                        </li>
                        <hr>
                        <li class="mt-3">
                            <a href="tel:+013434139651"><i class="bi bi-telephone"></i> +0134 3413 9651</a>
                        </li>
                        <hr>
                        <li class="mt-3">
                            <a href="tel:+013434139654"><i class="bi bi-telephone"></i> +0134 3413 9654</a>
                        </li>
                        <hr>
                        <li class="mt-3">
                            <a href="mailto:presidencia@tuxcacuesco.gob.mx"><i class="bi bi-envelope"></i> presidencia@tuxcacuesco.gob.mx</a>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
    
            <div class="col">
                <div class="row">
                    <h2 class="mt-5">Sitios de gobierno</h2>
                </div>
    
                <div class="row">
                    <ul>
                        <li class="mt-4">
                            <a href="www.diputados.gob.mx">www.diputados.gob.mx</a>
                        </li>
                        <hr>
                        <li class="mt-3">
                            <a href="www.jalisco.gob.mx">www.jalisco.gob.mx</a>
                        </li>
                        <hr>
                        <li class="mt-3">
                            <a href="www.guadalajara.gob.mx">www.guadalajara.gob.mx</a>
                        </li>
                        <hr>
                        <li class="mt-3">
                            <a href="www.ine.mx">www.ine.mx</a>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
    
            <div class="col">
                <img src="assets/escudo-tuxcacuesco.png" class="mt-5 img-escudo" alt="Escudo Tuxcacuesco">
            </div>
        </div>
    </div>

    <div class="aviso-privacidad pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <small><a routerLink="/terminos/aviso-de-privacidad" class="float-start">Aviso de privacidad</a></small>
                </div>
        
                <div class="col">
                    <small class="float-end">©2020 Derechos Reservados</small>
                </div>
            </div>
        </div>
    </div>

</footer>